nav {
  background-color: white;
  border-top: 2px solid #373737;
  border-bottom: 2px solid #373737;
  height: 60px;
  text-align: center;
  width: 100%;
  margin: auto;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }
  nav ul {
    display: inline-block;
    list-style-type: none;
    margin: auto;
    padding: 10px 0px;
    overflow: hidden;
    width: auto;
    height: 40px;
    clear: both; }
  nav li {
    float: left;
    padding-top: 7px; }
  nav li a {
    display: block;
    color: #373737;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 50px;
    text-decoration: none; }
  nav li a:hover {
    border-bottom: 1px dashed #373737; }

#site-title {
  background-image: url("../assets/ninja.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center;
  overflow: hidden;
  height: 250px; }

header {
  background-color: #EFF3F4; }
  header h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    transform: translate(0, 280%);
    font-size: 200%;
    width: 300px;
    padding-bottom: 4px;
    padding-top: 0px;
    padding-left: 0px;
    height: 44px; }
  header h1:before, header h1:after {
    position: absolute;
    content: "";
    top: 0px;
    height: 0px;
    width: 0px;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent; }
  header h1:before {
    left: 0px;
    border-left: 20px solid #EFF3F4; }
  header h1:after {
    left: auto;
    right: 0px;
    border-right: 20px solid #EFF3F4; }

body {
  background-color: #EFF3F4;
  font-family: Fira Sans, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0; }

h1 {
  text-transform: uppercase;
  color: #373737;
  font-size: 160%;
  padding-left: 0px;
  padding-top: 3px;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -5px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

p {
  width: 75%;
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  margin: auto; }
  p a {
    color: #e3a786; }
  p a:hover {
    color: #426973; }

footer {
  background-color: #EFF3F4;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }
  footer h1 {
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto; }

@keyframes grow {
  from {
    width: 50px;
    height: 50px; }
  to {
    width: 400px;
    height: 150px; } }
/* The element to apply the animation to */
.special-box {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  animation-name: grow;
  animation-delay: 2s;
  animation-duration: 3s;
  margin: auto;
  animation-fill-mode: forwards; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .5; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }
.fade-in-text {
  animation-name: fade-in;
  opacity: 0;
  animation-delay: 6s;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

/*# sourceMappingURL=style.css.map */
