// Imports
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300);

// Variables
$base-font-family: Fira Sans, Arial, sans-serif;
$base-font-size:   16px;
$base-width: 	   75%;
$not-black: 	   #373737;
$transp-gray:	   transparentize(#EEE, .3);
$light-blue:	   #EFF3F4;
$dark-blue:		   #426973;
$gray:			   #EEE;
$off-white:		   #f4f3ed;
$peach:			   #e3a786;

// Mix-ins
@mixin box-sizing{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

nav{
		background-color: #FFF;
	    border-top: 3px solid $not-black;
	    border-bottom: 3px solid $not-black;
	    height: 60px;
	    text-align: center;
	    width: $base-width;
	    margin: auto;
	    @include box-sizing;
	ul {
	    display: inline-block;
    	list-style-type: none;
	    margin: auto;
	    padding: 10px 0px;
	    overflow: hidden;
	    width: auto;
	    height: 40px;
	    clear: both;
	}

	li {
	    float: left;
	    padding-top: 7px;
	}

	li a {
	    display: block;
	    color: $not-black;
	    text-align: center;
	    text-transform: uppercase;
	    margin: 0px 50px;
	    text-decoration: none;
	}

	li a:hover {
	    border-bottom: 1px dashed $not-black;
	}
}

#site-title{
	background-image: url("../assets/ninja.png");
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-position: center;
	overflow: hidden;
	height: 250px;
}

header{
	h1 {
		text-align: center;
		background-color: $transp-gray;
		transform: translate(0, 280%);
		font-size: 200%;
		width: 300px;
		padding-bottom: 4px;
		padding-top: 0px;
		padding-left: 0px;
		height: 44px;
	}
	h1:before, h1:after{
		position: absolute;
		content:"";
		top: 0px;
		height: 0px;
		width: 0px;
		border-top: 22px solid transparent;
		border-bottom: 22px solid transparent;
	}
	h1:before{
	    left:0px;
	    border-left: 20px solid white; 
	}
	h1:after{
	    left:auto;
	    right:0px;
	    border-right: 20px solid white; 
	}
}

body{
	font-family: $base-font-family;
	font-size: $base-font-size;
	width: 100%;
	margin:0;
}

h1{
	background-color: $gray;
	text-transform: uppercase;
	color: $not-black;
	font-size: 160%;
	padding-left: 20px;
	padding-top: 3px;
	width: $base-width;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	@include box-sizing;
}

p {
	border: 3px solid $not-black;
	width: $base-width;
	padding: 10px 20px;
	margin: auto;
	@include box-sizing;

	a {
		color: $peach;
	}

	a:hover{
		color: $dark-blue;
	}
}

footer{
	background-color: $light-blue;
	width: $base-width;
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	@include box-sizing;
	h1{
		text-transform: uppercase;
		color: $not-black;
		background: none;
		padding: 0;
		margin: 0;
		width: auto;
		height: auto;
	}
}




