

// Variables
$base-font-family: Fira Sans, Arial, sans-serif;
$base-font-size:   16px;
$base-width: 	   75%;
$border-width:	   2px;
$not-black: 	   #373737;
$transp-gray:	   transparentize(#EEE, .3);
$transp-white:	   transparentize(#FFF, .3);
$light-blue:	   #EFF3F4;
$dark-blue:		   #426973;
$gray:			   #EEE;
$off-white:		   #f4f3ed;
$peach:			   #e3a786;
$line-height-base:        1.428571429;
$border-radius-base:        4px;

// Mix-ins
@mixin box-sizing{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

nav{
		background-color: white;
	    border-top: $border-width solid $not-black;
	    border-bottom: $border-width solid $not-black;
	    height: 60px;
	    text-align: center;
	    width: 100%;
	    margin: auto;
	    @include box-sizing;
	ul {
	    display: inline-block;
    	list-style-type: none;
	    margin: auto;
	    padding: 10px 0px;
	    overflow: hidden;
	    width: auto;
	    height: 40px;
	    clear: both;
	}

	li {
	    float: left;
	    padding-top: 7px;
	}

	li a {
	    display: block;
	    color: $not-black;
	    text-align: center;
	    text-transform: uppercase;
	    margin: 0px 50px;
	    text-decoration: none;
	}

	li a:hover {
	    border-bottom: 1px dashed $not-black;
	}
}

#site-title{
	background-image: url("../assets/ninja.png");
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-position: center;
	overflow: hidden;
	height: 250px;
}

header{
	background-color: $light-blue;
	h1 {
		text-align: center;
		background-color: $transp-white;
		transform: translate(0, 280%);
		font-size: 200%;
		width: 300px;
		padding-bottom: 4px;
		padding-top: 0px;
		padding-left: 0px;
		height: 44px;
	}
	h1:before, h1:after{
		position: absolute;
		content:"";
		top: 0px;
		height: 0px;
		width: 0px;
		border-top: 22px solid transparent;
		border-bottom: 22px solid transparent;
	}
	h1:before{
	    left:0px;
	    border-left: 20px solid $light-blue; 
	}
	h1:after{
	    left:auto;
	    right:0px;
	    border-right: 20px solid $light-blue; 
	}
}

body{
	background-color: $light-blue;
	font-family: $base-font-family;
	font-size: $base-font-size;
	width: 100%;
	margin:0;
}

h1{
	text-transform: uppercase;
	color: $not-black;
	font-size: 160%;
	padding-left: 0px;
	padding-top: 3px;
	width: $base-width;
	margin: auto;
	margin-top: 20px;
	margin-bottom: -5px;
	@include box-sizing;
}

p {
	width: $base-width;
	padding: 10px 5px;
	@include box-sizing;
	margin:auto;

	a {
		color: $peach;
	}

	a:hover{
		color: $dark-blue;
	}
}

footer{
	background-color: $light-blue;
	width: 60%;
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 10px;
	@include box-sizing;
	h1{
		text-transform: uppercase;
		text-align: center;
		color: $not-black;
		background: none;
		padding: 0;
		margin: 0;
		width: auto;
		height: auto;
	}
}




@keyframes grow {
    from {width: 50px; height: 50px;}
    to {width: 400px; height: 150px;}
}

/* The element to apply the animation to */
.special-box {
    width: 50px;
    height: 50px;
    background-color: $transp-white;
    animation-name: grow;
    animation-delay: 2s;
    animation-duration: 3s;
    margin: auto;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-text {
	animation-name: fade-in;
	opacity: 0;
	animation-delay: 6s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
