<section class="tiles">

	<article class="style6">
		<span class="image">
      <img src="{{ '/assets/teaser-meshedit.jpg' | relative_url }}" alt="" />
		</span>
    <a>
			<h2>Mesh Edit</h2>
			<div class="content">
        <p>Bezier splines and Loop subdivision</p>
			</div>
		</a>
	</article>

	<article class="style5">
		<span class="image">
      <img src="{{ '/assets/teaser-pathtracer-1.jpg' | relative_url }}" alt="" />
		</span>
    <a>
			<h2>Pathtracer</h2>
			<div class="content">
      <p>Ray intersections and Global Illumination</p>
			</div>
		</a>
	</article>

	<article class="style4">
		<span class="image">
      <img src="{{ '/assets/teaser-pathtracer-2.jpg' | relative_url }}" alt="" />
		</span>
    <a>
			<h2>Pathtracer 2: Electric Boogaloo</h2>
			<div class="content">
				<p>Materials and thin-lens simulation</p>
			</div>
		</a>
	</article>


</section>
