

<footer>
  <h1>Thanks for visiting.</h1>
  <p style="text-align:center">
    <a href="https://github.com/viviehn"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
    <a href="ma&#105;lto&#58;&#118;&#105;vie&#110;&#46;nguyen&#64;&#98;&#101;rke&#108;ey&#46;edu"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/vivienn"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
    <a href="https://instagram.com/mostly__harmless"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
  </p>

</footer>

</html>
