<section class="tiles">

	<article class="style3">
		<span class="image">
      <img src="/assets/teaser-syn-dof.jpg" alt="" />
		</span>
		<a href="_projects/line-simp" target="_blank">
			<h2>Region-Aware Line Drawing Simplification and Stylization</h2>
			<div class="content">
				<p>EG 2024</p>
			</div>
		</a>
	</article>

	<article class="style3">
		<span class="image">
      <img src="/assets/teaser-syn-dof.jpg" alt="" />
		</span>
		<a href="" target="_blank">
			<h2>Cleaning the Label Space of the iMet Collection (CVPR 2021 FGVC)</h2>
			<div class="content">
				<p>CVPR 2021 FGVC workshop</p>
			</div>
		</a>
	</article>

	<article class="style3">
		<span class="image">
      <img src="/assets/teaser-syn-dof.jpg" alt="" />
		</span>
		<a href="https://ceciliavision.github.io/vid-auto-focus/" target="_blank">
			<h2>Synthetic Defocus and Look-Ahead Autofocus for Casual Videography</h2>
			<div class="content">
				<p>SIGGRAPH 2019</p>
			</div>
		</a>
	</article>


</section>
