<section class="tiles">

	<article class="style3">
		<span class="image">
      <img src="/assets/teaser-syn-dof.jpg" alt="" />
		</span>
		<a href="https://ceciliavision.github.io/vid-auto-focus/" target="_blank">
			<h2>Synthetic Defocus and Look-Ahead Autofocus for Casual Videography (SIGGRAPH 2019)</h2>
			<div class="content">
				<p></p>
			</div>
		</a>
	</article>

	<article class="style2">
		<span class="image">
      <img src="/assets/teaser-mv-gen.jpg" alt="" />
		</span>
		<a href="https://viviehn.github.io/mv-gen">
			<h2>Just Press Play: Content-based Automatic Music Video Stitching (CS 182: Deep Learning)</h2>
			<div class="content">
				<p></p>
			</div>
		</a>
	</article>

	<article class="style1">
		<span class="image">
      <img src="/assets/teaser-anim-pics.gif" alt="" />
		</span>
		<a href="/portfolio/anim-pics">
			<h2>Animating Pictures with Stochastic Motion Textures (CS 194-26: Computational Photography)</h2>
			<div class="content">
				<p></p>
			</div>
		</a>
	</article>

</section>
