<section class="tiles">

	<article class="style1">
		<span class="image">
      <img src="/assets/teaser-syn-dof.jpg" alt="" />
		</span>
		<a href="https://ceciliavision.github.io/vid-auto-focus/">
			<h2>Synthetic Defocus and Look-Ahead Autofocus for Casual Videography</h2>
			<div class="content">
				<p></p>
			</div>
		</a>
	</article>

	<article class="style2">
		<span class="image">
      <img src="/assets/teaser-mv-gen.jpg" alt="" />
		</span>
		<a href="https://vivieh.github.io/mv-gen">
			<h2>Just Press Play: Content-based Automatic Music Video Stitching</h2>
			<div class="content">
				<p></p>
			</div>
		</a>
	</article>

</section>
